In [3]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [4]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [5]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [6]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [14]:
df["email"] #more secure way to access data. Dotnotation has possibility to use attributes instead#

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
df.email #easyer way but has a risk to have an attributes name as a colum ie. object#

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [16]:
df[["last","email"]] #list inside brakets/ filtered out df

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [17]:
df.columns # gives all columns

Index(['first', 'last', 'email'], dtype='object')

In [23]:
df.iloc[0] #iloc = integer location. Returns series that shows first rows values

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [22]:
df.iloc[[0,1], 1] #spesifies columns to show. But only using integers, not column name

0    Schafer
1        Doe
Name: last, dtype: object

In [31]:
df.loc[[0,1], ["last", "first"]] #use labes to spesify rows

      last  first
0  Schafer  Corey
1      Doe   Jane

In [32]:
df["email"]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [35]:
df.set_index("email") #Shows email as index

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [39]:
df.set_index("email", inplace=True) #Sets Email as index

KeyError: "None of ['email'] are in the columns"

In [40]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [41]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [45]:
df.loc["CoreyMSchafer@gmail.com", "last"] #Checks the info of the spesific row

'Schafer'

In [ ]:
df.loc[0] #if used gives type error because index is not a number anymore

In [49]:
df.iloc[0] #Still works becaude iloc uses index as numbers

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [52]:
df.reset_index(inplace=True) # resets the index

In [55]:
df["last"] == "Doe" #Series of true/false values. True values are the rows that met value and false ones that did not. Its called filter mask

0    False
1     True
2     True
Name: last, dtype: bool

In [59]:
filt = (df["last"] == "Doe") #filters the df by the series

In [63]:
df.loc[filt, "email"] #Using loc makes it possible to choose also spesific rows

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [64]:
# & | and and or symbols

In [65]:
filt = (df["last"] == "Doe") & (df["first" ] == "John")

In [66]:
df.loc[filt, "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [67]:
filt = (df["last"] == "Schafer") | (df["first" ] == "John")

In [68]:
df.loc[filt, "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [69]:
df.loc[~filt, "email"] #gives the opposite of the filters rows

1    JaneDoe@email.com
Name: email, dtype: object