In [3]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [4]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [5]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [6]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [14]:
df["email"] #more secure way to access data. Dotnotation has possibility to use attributes instead#

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
df.email #easyer way but has a risk to have an attributes name as a colum ie. object#

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [16]:
df[["last","email"]] #list inside brakets/ filtered out df

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [17]:
df.columns # gives all columns

Index(['first', 'last', 'email'], dtype='object')

In [23]:
df.iloc[0] #iloc = integer location. Returns series that shows first rows values

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [22]:
df.iloc[[0,1], 1] #spesifies columns to show. But only using integers, not column name

0    Schafer
1        Doe
Name: last, dtype: object

In [30]:
df.loc[[0,1],"last", "first"] #use labes to spesify rows

IndexingError: Too many indexers